<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Admin</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="code.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <a class="navbar-brand" href="/">Super Secure Web Application</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="/forum">Forum</a></li>
                <li class="nav-item" sec:authorize="isAuthenticated()"><a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="table-responsive">
    <table id="appointments" class="table table-striped" style="margin-top: 30px;">
        <thead>
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Time</th>
            <th>Centre</th>
            <th>Dose</th>
            <th>User</th>
            <th>Received</th>
            <th>Vaccine Received</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="appointment : ${appointments}" th:id="|row_${appointment.id}|">
            <td><p th:text="${appointment.id}"></p></td>
            <td><p th:text="${appointment.date}"></p></td>
            <td><p th:text="${appointment.time}"></p></td>
            <td><p th:text="${appointment.centre.name}"></p></td>
            <td><p th:text="${appointment.dose}"></p></td>
            <td><p th:text="${appointment.user.userName}"></p></td>
            <td th:id="|received_${appointment.id}|"><p th:text="${appointment.received}"></p></td>
            <td id="vaccineSelector">
                <select th:if="${!appointment.received}" th:id="|vaccineReceived_${appointment.id}|" name="vaccine_received">
                    <option value="" th:selected="${appointment.vaccine_received==''}">None</option>
                    <option value="pfizer" th:selected="${appointment.vaccine_received=='pfizer'}">Pfizer</option>
                    <option value="moderna" th:selected="${appointment.vaccine_received=='moderna'}">Moderna</option>
                </select>
                <p th:if="${appointment.received}" th:text="${appointment.vaccine_received}"></p>
            </td>
            <td id="button">
                <button th:if="${!appointment.received}" th:onclick="|updateAppointment(${appointment.id}, ${appointment.dose})|" class="btn btn-primary">Update</button>
            </td>
        </tr>
        </tbody>
    </table>
    <p id="message"></p>
</div>
</body>
</html>