<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Book Vaccination</title>
</head>
<body>
<div>
    <div th:if="${bookingStatus == T(app.service.BookingService.BookingStatus).FIRST OR bookingStatus == T(app.service.BookingService.BookingStatus).SECOND}">
        <h2>Available Times for: <span th:text="${appointments[0].date}"></span> in <span th:text="${appointments[0].centre.name}"></span></h2>
        <div th:each="appointment : ${appointments}" th:id="|row_${appointment.id}|">
            <form th:action="@{/bookAppointment/{centreId}(centreId=${centreId})}" method="POST">
                <input type="hidden" name="date" th:value="${appointment.date}"/>
                <input type="hidden" name="time" th:value="${appointment.time}"/>
                <button type="submit"><span th:text="${appointment.time}"></span></button>
            </form>
        </div>
    </div>
    <div th:if="${bookingStatus == T(app.service.BookingService.BookingStatus).APPT_PENDING}">
        <h2>You already have an upcoming COVID-19 vaccination.</h2>
        <h5>Click <a href="/activity">here</a> to view details or cancel it.</h5>
    </div>
    <div th:if="${bookingStatus == T(app.service.BookingService.BookingStatus).FULLY_VACCINATED}">
        <h2>Our records show you are fully vaccinated against COVID-19 already.</h2>
        <h5>Click <a href="/activity">here</a> to view your Vaccination Record.</h5>
    </div>
</div>
</body>
</html>