<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Book Vaccination</title>
</head>
<body>
<div>
    <div th:if="${error}" class="mb-3">
        <h1 class="alert alert-danger" th:text="${error}"></h1>
    </div>
    <div th:if="${bookingStatus == T(app.service.BookingService.BookingStatus).FIRST OR bookingStatus == T(app.service.BookingService.BookingStatus).SECOND}">
        <form th:action="@{/bookAppointment/{centreId}/dateSelected(centreId=${centreId})}" method="POST">
            <input type="date" name="date" placeholder="Date" th:min="${minDate}" required>
            <button type="submit">Select</button>
        </form>
    </div>
    <div th:if="${bookingStatus == T(app.service.BookingService.BookingStatus).APPT_PENDING}">
        <h2>You already have an upcoming COVID-19 vaccination.</h2>
        <h5>Click <a href="/activity">here</a> to view details or cancel it.</h5>
    </div>
    <div th:if="${bookingStatus == T(app.service.BookingService.BookingStatus).FULLY_VACCINATED}">
        <h2>Our records show you are fully vaccinated against COVID-19 already.</h2>
        <h5>Click <a href="/activity">here</a> to view your Vaccination Record.</h5>
    </div>
</div>
</body>
</html>