<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Super Secure Web Application</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="container px-5">
        <a class="navbar-brand" href="/">Super Secure Web Application</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="/forum">Forum</a></li>
                <li class="nav-item" sec:authorize="hasRole('USER')"><a class="nav-link" href="/bookAppointment">Book
                    Vaccination</a></li>
                <li class="nav-item" sec:authorize="hasRole('USER')"><a class="nav-link" href="/activity">Recent Activity</a>
                <li class="nav-item" sec:authorize="hasRole('ADMIN')"><a class="nav-link" href="/admin">Admin</a>
                <li class="nav-item" sec:authorize="!isAuthenticated()"><a class="nav-link" href="/login">Login</a></li>
                <li class="nav-item" sec:authorize="!isAuthenticated()"><a class="nav-link" href="/registration">Sign
                    Up</a></li>
                <li class="nav-item" sec:authorize="isAuthenticated()"><a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://dummyimage.com/900x400/dee2e6/6c757d.jpg"/></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">Super Secure Web Application</h1>
            <p>..................</p>
        </div>
    </div>
    <div class="row gx-4 gx-lg-5">
        <div class="col-md-6 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <div id="age-group-vaccinated"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <div id="container"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script th:inline="javascript">
    $(function(){
        var categories = [
            '18-29', '30-39', '40-49', '50-64', '65-74',
            '75-84', '85 + '
        ];

        Highcharts.chart('age-group-vaccinated', {
            chart: {
                type: 'bar'
            },
            title: {
                text: 'Number Vaccinated By Age Group'
            },
            subtitle: {
            },
            accessibility: {
                point: {
                    valueDescriptionFormat: '{index}. Age {xDescription}, {value}%.'
                }
            },
            xAxis: [{
                categories: categories,
                reversed: false,
                labels: {
                    step: 1
                },
                accessibility: {
                    description: 'Age (male)'
                }
            }, { // mirror axis on right side
                opposite: true,
                reversed: false,
                categories: categories,
                linkedTo: 0,
                labels: {
                    step: 1
                },
                accessibility: {
                    description: 'Age (female)'
                }
            }],
            yAxis: {
                title: {
                    text: null
                },
                labels: {
                    formatter: function () {
                        return Math.abs(this.value);
                    }
                },
                accessibility: {
                    description: 'Number Vaccinated',
                }
            },

            plotOptions: {
                series: {
                    stacking: 'normal'
                }
            },

            tooltip: {
                formatter: function () {
                    return '<b>' + this.series.name + ', age ' + this.point.category + '</b><br/>' +
                        'Vaccinated: ' + Highcharts.numberFormat(Math.abs(this.point.y), 0);
                }
            },

            series: [{
                name: 'Male',
                data: [
                    -10,-30,-23,-56,-78,-34,-23
                ]
            }, {
                name: 'Female',
                data: [
                    10,34,34,67,43,90,56
                ]
            }]
        });
    });
</script>

<script th:inline="javascript">
    $(function(){
        Highcharts.chart('container', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Number Vaccinated By Nationality'
            },
            subtitle: {
            },
            xAxis: {
                type: 'category',
                categories: [[${VaccinatedByNationality.keySet()}]],
                labels: {
                    rotation: -45,
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Vaccinated'
                }
            },
            legend: {
                enabled: false
            },
            tooltip: {
                pointFormat: 'Vaccinated: <b>{point.y:.0f}</b>'
            },
            series: [{
                name: 'Vaccinated',
                data: [[${VaccinatedByNationality.values()}]]
            }]
        });
    });
</script>

</body>
</html>