<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="container px-5">
        <a class="navbar-brand" href="/">Super Secure Web Application</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="/forum">Forum</a></li>
                <li class="nav-item" sec:authorize="hasRole('USER')"><a class="nav-link" href="/bookAppointment">Book
                    Vaccination</a></li>
                <li class="nav-item" sec:authorize="hasRole('USER')"><a class="nav-link" href="/activity">Recent Activity</a>
                <li class="nav-item" sec:authorize="hasRole('ADMIN')"><a class="nav-link" href="/admin">Admin</a>
                <li class="nav-item" sec:authorize="!isAuthenticated()"><a class="nav-link" href="/registration">Sign
                    Up</a></li>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container" style="max-width: 600px; margin-top: 50px;">
    <h3 class="mb-3 pb-2 pb-md-0 mb-md-5" style="text-align: left">Login</h3>
    <div id="logreg-forms">
        <form name="login" th:action="login" id="login" method="POST">
            <input type="text" id="inputEmail" name="username" class="form-control" placeholder="Email" required autofocus>
            <br>
            <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
            <br>
            <input type="text" id="code" name="code" class="form-control" placeholder="Google Authenticator Verification Code">
            <br>
            <button class="btn btn-success btn-block" type="submit"><i class="fas fa-sign-in-alt"></i> Login</button>
            <br>
            <div th:if="${param.error}">
                <br>
                <p class="alert alert-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
            </div>
            <hr>
            <a class="btn btn-primary btn-block" href="/registration" id="btn-signup" style="color: white;"><i class="fas fa-user-plus"></i> Sign Up</a>
        </form>
    </div>
</div>
</body>
</html>
